{% extends 'layout.html' %} <!-- carrega o layout padrao -->

{% load static %} <!-- carrega os arquivos estáticos -->

{% block content %} <!-- inicia o bloco de conteudo -->
<div class="container">
  <H1>Carregar imagem</H1>
  <hr/>

  <!-- Formulario para enviar a imagem -->
  <form action="upload/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <br />
    <button class="btn btn-default" type="submit">Upload</button>
  </form>
</div>

{% endblock %}